.container {
    padding: 14px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 #20212447;
    cursor: pointer;
    overflow: hidden;
    transition: min-height 0.2s ease; 
    min-height: 50px; /* Set the initial max-height */
}

.expanded {
    min-height: 300px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.body {
    padding: 14px;
}


.flex {
    display: flex;
    flex-direction: column;
}

.header > p {
    margin: 0 auto;
    padding: 14px;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.icon {
    user-select: none;
}